      .example-module{
        width:400px; 
        margin:0 20px;
      }

      h2{
        font-size: 32px;
        color: #4D4D4D;
        font-size: bold;
        padding:20px 0;
        border-bottom: 1px solid #ddd;
        width:70%;
        float: left;
        margin:0;
      }

      .close{
        margin-top: 29px;
        float:right;
        width: 10px;
        height:16px;
        
      }

      a.close{
        text-decoration: none;
      }

      .example-module-desc{
        clear: both;
      }

      p{
        font-size: 16px;
        color: #666;
        line-height:1.5;
        margin-bottom: 30px;
      }

      button{
        color: #fff;
        padding: 15px 30px;
        font-size: 14px;
        border-radius: 5px;
        background: #ff8000;
        border: none;
      }