<div class="example-module">
  <div class="title">
    <h2>Module Title</h2>
    <a class="close" href="" ng-click="closeButton()">X</a>
  </div>
  <div class="example-module-desc">
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.    
    </p>
    <button ng-if="!isActive" ng-class="{'active': isActive}" ng-click="activeButton()" >Show More</button>
    <button ng-if="isActive" ng-class="{'active': isActive}" ng-click="activeButton()">Show Less</button>
    <div ng-if="isActive">
      <h3>Details</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.    
      </p>
      <h3>Details</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.    
      </p>
    </div>
  </div>
</div>