<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Expand Module</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div ng-app="app">
      <a ng-init="showModal=false" href="" ng-click="showModal=true">Show Module</a>
      <div ng-if="showModal" toggle-component></div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>